.nav {
    grid-area: n;
    background-color: blueviolet;
    padding: 20px;
}

.nav img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin: 5px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: red;
    cursor: grab;
}

.users {
    margin-top: 15px;
}

.set {
    margin-top: 25px;
}